.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-around {
  justify-content: space-around;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.wh-full {
  width: 100%;
  height: 100%;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.wh-screen {
  width: 100vw;
  height: 100vh;
}

.ml-auto {
  margin-left: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

.fw-bold {
  font-weight: bold;
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.sticky {
  position: sticky;
}
.position-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.position-x-center {
  left: 50%;
  transform: translateX(-50%);
}
.position-y-center {
  top: 50%;
  transform: translateY(-50%);
}
